<footer>
    <p>&copy; 2025, CSE 340 App | All Rights Reserved.</p>
    <p>Chervester Nyasulu | BYUI Software Development | Malawi</p>
    <p>Contact: <a href="mailto:kaysnyasulu@gmail.com">kaysnyasulu@gmail.com</a></p>
    <p>Follow us:
        <a href="#"><img src="/images/facebook-icon.png" alt="Facebook"></a>
        <a href="#"><img src="/images/twitter-icon.png" alt="Twitter"></a>
        <a href="#"><img src="/images/instagram-icon.png" alt="Instagram"></a>
    </p>
    <p><small>Last updated: <span id="lastUpdated"></span></small></p>
</footer>

<script>
    document.getElementById('lastUpdated').textContent = document.lastModified;
</script>
