<header>
    <div class="header-container">
        <h1>CSE Motors</h1>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Custom</a></li>
                <li><a href="#">Sedan</a></li>
                <li><a href="#">SUV</a></li>
                <li><a href="#">Truck</a></li>
            </ul>
        </nav>
        <div class="account-link">
            <a href="#">My Account</a>
        </div>
    </div>
</header>
