<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CSE Motors - Your go-to destination for futuristic rides and accessories!">
    <title>CSE Motors</title>
    
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/large.css" media="screen and (min-width: 768px)">
</head>
