<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <h1>Welcome to CSE Motors!</h1>

        <section class="highlight">
            <div class="car-info">
                <h2><a href="#">DMC Delorean</a></h2>
                <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
                <div class="btn-container">
                    <button>Own Today</button>
                </div>
            </div>
            <div class="car-image">
                <img src="/images/delorean.png" alt="DMC Delorean">
            </div>
        </section>

        <section class="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>

        <section class="upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="grid">
                <a href="#"><div><img src="/images/flux-capacitor.png" alt="Flux Capacitor"><p>Flux Capacitor</p></div></a>
                <a href="#"><div><img src="/images/flame-decals.png" alt="Flame Decals"><p>Flame Decals</p></div></a>
                <a href="#"><div><img src="/images/bumper-stickers.png" alt="Bumper Stickers"><p>Bumper Stickers</p></div></a>
                <a href="#"><div><img src="/images/hub-caps.png" alt="Hub Caps"><p>Hub Caps</p></div></a>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
